pkgbase = {{PACKAGE_NAME}}
	pkgdesc = Batteries-included web framework built the Zig way
	pkgver = {{VERSION}}
	pkgrel = 1
	url = https://github.com/zypher-org/zypher
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = glibc
	depends = curl
	depends = tar
	depends = xz
	source_x86_64 = https://github.com/zypher-org/zypher/releases/download/v{{VERSION}}/zypher-v{{VERSION}}-x86_64-linux-musl.tar.gz
	source_aarch64 = https://github.com/zypher-org/zypher/releases/download/v{{VERSION}}/zypher-v{{VERSION}}-aarch64-linux-musl.tar.gz
	sha256sums_x86_64 = {{SHA256_X86_64}}
	sha256sums_aarch64 = {{SHA256_AARCH64}}

pkgname = {{PACKAGE_NAME}}
	pkgdesc = Batteries-included web framework built the Zig way
	pkgver = {{VERSION}}
	pkgrel = 1
	url = https://github.com/zypher-org/zypher
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = glibc
	depends = curl
	depends = tar
	depends = xz
	source_x86_64 = https://github.com/zypher-org/zypher/releases/download/v{{VERSION}}/zypher-v{{VERSION}}-x86_64-linux-musl.tar.gz
	source_aarch64 = https://github.com/zypher-org/zypher/releases/download/v{{VERSION}}/zypher-v{{VERSION}}-aarch64-linux-musl.tar.gz
	sha256sums_x86_64 = {{SHA256_X86_64}}
	sha256sums_aarch64 = {{SHA256_AARCH64}}
