class ZypherCli < Formula
  desc "Batteries-included web framework built the Zig way"
  homepage "https://github.com/zypher-org/zypher"
  version "{{VERSION}}"
  license "Apache-2.0"

  depends_on "zig"

  on_macos do
    if Hardware::CPU.arm?
      url "{{BASE_URL}}/zypher-v{{VERSION}}-aarch64-macos.tar.gz"
      sha256 "{{SHA_AARCH64_MACOS}}"
    else
      url "{{BASE_URL}}/zypher-v{{VERSION}}-x86_64-macos.tar.gz"
      sha256 "{{SHA_X86_64_MACOS}}"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "{{BASE_URL}}/zypher-v{{VERSION}}-aarch64-linux-musl.tar.gz"
      sha256 "{{SHA_AARCH64_LINUX}}"
    else
      url "{{BASE_URL}}/zypher-v{{VERSION}}-x86_64-linux-musl.tar.gz"
      sha256 "{{SHA_X86_64_LINUX}}"
    end
  end

  def install
    bin.install Dir["zypher*"].first => "zypher"
  end

  test do
    assert_match "zypher", shell_output("#{bin}/zypher help")
  end
end
